* {
  color: white; /* or #FFFFFF */
}
body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

li {
  margin: 5px;
}

img {
  max-width: 400px;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
